<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>Twitter</string>
            <key>scheme</key>
            <string>twitter</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/twitter/id333903271</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/56/d9/7f/56d97f69-5505-659b-53f5-b796da0ae4d4/ProductionAppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>Reddit</string>
            <key>scheme</key>
            <string>reddit</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/reddit/id1064216828</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/16/89/d9/1689d991-583e-9ae2-ec72-c5e1aaef3fde/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>News Break</string>
            <key>scheme</key>
            <string>newsbreak</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/news-break-local-stories-app/id1132762804</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/c5/1b/d9/c51bd9ef-3343-f160-ca53-7844eeb281ec/AppIconNewsBreak-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>CNN</string>
            <key>scheme</key>
            <string>cnn</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/cnn-breaking-us-world-news/id331786748</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/61/6a/42/616a4206-280e-f75e-7064-1e34a56e0ea4/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>Nextdoor</string>
            <key>scheme</key>
            <string>com.nextdoor.ios.v4</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/nextdoor-local-neighborhood/id640360962</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/ab/3e/bf/ab3ebf54-17d0-10d1-99e6-b43560650a40/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>Citizen</string>
            <key>scheme</key>
            <string>citizen</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/citizen-connect-and-stay-safe/id1039889567</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/be/22/14/be22145f-319a-f439-bf52-6a09e05d7b80/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>SmartNews</string>
            <key>scheme</key>
            <string>smartnews</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/smartnews-local-breaking-news/id579581125</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/cf/75/f4/cf75f4f2-80b5-5a0d-2ea3-64f177036f2a/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>Fox News</string>
            <key>scheme</key>
            <string>foxnews</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/fox-news-live-breaking-news/id367623543</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/f8/d5/bb/f8d5bb41-3212-a7c3-d570-c3ed389c75d8/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>The New York Times</string>
            <key>scheme</key>
            <string>NYTimes</string>
            <key>url</key>
            <string>https://apps.apple.com/fm/app/the-new-york-times/id284862083</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/6d/4f/f9/6d4ff917-8c52-accc-ee70-a43b28c77bb6/release-app-icons-1x_U007emarketing-0-10-0-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>Police Scanner, Fire Radio</string>
            <key>scheme</key>
            <string>scannerradio</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/police-scanner-radio-fire/id498405045</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/fc/1f/e4/fc1fe499-791a-fd68-e0e5-53cc235ee51e/AppIcon-2-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>Podbean Podcast App</string>
            <key>scheme</key>
            <string>podbean</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/podbean-podcast-app-player/id973361050</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/0c/d9/c2/0cd9c29b-c907-0ecf-d951-e0b2acdc3afe/AppIcon-0-0-1x_U007emarketing-0-0-0-8-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>CBS News</string>
            <key>scheme</key>
            <string>CBS</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/cbs-news-live-breaking-news/id334256223</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/b7/da/96/b7da9606-3104-bd17-3e04-e2d13fa1a442/AppIcon-0-0-1x_U007emarketing-0-0-0-4-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>The Podcast App</string>
            <key>scheme</key>
            <string>podcastapp</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/apple-podcasts/id525463029</string>
            <key>image</key>
            <string>https://is2-ssl.mzstatic.com/image/thumb/Purple114/v4/f5/01/c7/f501c751-6fbe-cf1f-3357-35d22ffb9018/AppIcon-1x_U007emarketing-0-10-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>News</string>
            <key>title</key>
            <string>NBC News</string>
            <key>scheme</key>
            <string>nbcnews</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/nbc-news-breaking-us-news/id319740707</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/f9/fe/23/f9fe2349-eeeb-fd2c-6091-749ee32c6a60/AppIcon-0-1x_U007emarketing-0-10-0-85-220.png/1024x0w.webp</string>
            
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>TikTok</string>
            <key>scheme</key>
            <string>tiktok</string>
            <key>url</key>
            <string>https://apps.apple.com/lc/app/tiktok/id835599320</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/ad/24/ea/ad24ea40-3164-9787-c03f-4d6393829bbb/AppIcon_TikTok-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>The CW</string>
            <key>scheme</key>
            <string>cwtv</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/the-cw/id491730359</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/52/15/77/52157776-d35c-801d-e69f-4b04cef53101/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Netflix</string>
            <key>scheme</key>
            <string>nflx</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/netflix/id363590051</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/09/b5/6d/09b56d25-c7e0-ca1b-60ff-748d74040116/AppIcon-1x_U007emarketing-0-10-0-0-85-220-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Hulu</string>
            <key>scheme</key>
            <string>hulu</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/hulu-stream-movies-tv-shows/id376510438</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/4b/16/39/4b16393a-1e54-1d44-c8c2-865d89ff65f8/HuluAppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Sling TV</string>
            <key>scheme</key>
            <string>slingtv</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/sling-live-tv-shows-movies/id945077360</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple124/v4/48/00/13/4800134c-e60d-77ec-bb71-4ba3ad4ea41f/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Disney+</string>
            <key>scheme</key>
            <string>disneyplus</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/disney/id1446075923</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/26/0b/3d/260b3de5-f9d1-a7d0-381c-81133796418c/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>HBO Max</string>
            <key>scheme</key>
            <string>hbomax</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/hbo-max-stream-tv-movies/id971265422</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/c0/03/6d/c0036d42-9b17-f8db-539f-5b064a873a88/AppIconHBOMAX-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Amazon Prime Video</string>
            <key>scheme</key>
            <string>primevideo</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/amazon-prime-video/id545519333</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/22/94/0f/22940f98-2be7-e4fe-888a-a3cb55b10d65/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>YouTube TV</string>
            <key>scheme</key>
            <string>youtube</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/youtube-tv/id1193350206</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/74/45/81/7445811c-763e-1912-252c-73f09f6844c1/AppIconV2-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Tubi</string>
            <key>scheme</key>
            <string>tubitv</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/tubi-watch-movies-tv-shows/id886445756</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple124/v4/55/aa/f7/55aaf73b-68fe-7d69-5411-6d388b51ce94/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Peacock TV</string>
            <key>scheme</key>
            <string>peacock</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/peacock-tv/id1508186374</string>
            <key>image</key>
            <string>https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/cd/c2/65/cdc26505-eae1-9296-f7b4-50fc5bc64e69/AppIcon-US-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Xbox</string>
            <key>scheme</key>
            <string>xbox</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/xbox/id736179781</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/28/de/72/28de72e1-f2d2-681f-9a97-729af7d808f5/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Jackpocket Lottery</string>
            <key>scheme</key>
            <string>jackpocket</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/jackpocket-lottery-app/id663046683</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple124/v4/73/01/c9/7301c9e6-55e4-a210-a6c3-72b93785b17a/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Youtube Kids</string>
            <key>scheme</key>
            <string>vnd.youtube.kids</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/youtube-kids/id936971630</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple124/v4/1c/03/5b/1c035b69-a166-8a53-91bf-c9f68095d937/YouTubeKidsAppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>CBS</string>
            <key>scheme</key>
            <string>CBS</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/cbs-full-episodes-live-tv/id530168168</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/d6/4c/ab/d64cab3b-8054-8179-4673-fab7150fc20c/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>WEBTOON</string>
            <key>scheme</key>
            <string>linewebtoon</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/webtoon-comics/id894546091</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/a3/c4/bc/a3c4bcde-c21f-3e69-b528-7f4ca3bc755e/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>Crunchyroll</string>
            <key>scheme</key>
            <string>crunchyroll</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/crunchyroll/id329913454</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/8e/3c/4a/8e3c4a89-f96f-4716-6f89-5ab61ef96c37/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Entertainment</string>
            <key>title</key>
            <string>STARZ</string>
            <key>scheme</key>
            <string>starz</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/starz/id550221096</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/2a/c7/d7/2ac7d7d3-2f83-ffbd-d063-c6cb3c03501a/AppIcon-1x_U007emarketing-0-10-0-85-220.png/1024x0w.webp</string>
            
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>Roblox</string>
            <key>scheme</key>
            <string>roblox</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/roblox/id431946152</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/1c/c4/70/1cc47057-2dbb-2687-0df8-d59f28dcb5f4/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>Candy Crush Saga</string>
            <key>scheme</key>
            <string>candycrushsaga</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/candy-crush-saga/id553834731</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/7c/09/24/7c0924c2-f81a-ec96-5172-5fc011263813/AppIcon-1x_U007emarketing-0-7-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>Call of Duty</string>
            <key>scheme</key>
            <string>cod</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/call-of-duty-mobile/id1287282214</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple124/v4/12/b7/fd/12b7fd28-f493-7124-59ad-7e138af8595d/AppIcon-1x_U007emarketing-0-9-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>Project makeover</string>
            <key>scheme</key>
            <string>mtpjmo</string>
            <key>url</key>
            <string>https://apps.apple.com/dk/app/project-makeover/id1483058899</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/5b/99/06/5b990635-a86b-0b42-5d5f-11454f63f0ec/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>Coin Master</string>
            <key>scheme</key>
            <string>coinmaster</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/coin-master/id406889139</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/79/00/f7/7900f7eb-5a2e-51f5-6092-6031417935b9/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>Homescapes</string>
            <key>scheme</key>
            <string>homescapes</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/homescapes/id1195621598</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/02/f4/0c/02f40c6e-cdf1-51a6-4d8c-f111bd52c235/AppIcon-1x_U007emarketing-0-10-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>PUBG MOBILE</string>
            <key>scheme</key>
            <string>igame1320</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/pubg-mobile-runic-power/id1330123889</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/46/76/9d/46769dad-da76-88f2-f3e4-54eddc5865ba/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-8.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>Garena Free Fire</string>
            <key>scheme</key>
            <string>freefire</string>
            <key>url</key>
            <string>https://apps.apple.com/vn/app/garena-free-fire-new-beginning/id1300146617</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/00/b7/bc/00b7bc13-9f26-49fa-fdae-225d44bed12b/AppIcon-1606835604-0-0-1x_U007emarketing-0-0-0-7-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Games</string>
            <key>title</key>
            <string>Clash of Clans</string>
            <key>scheme</key>
            <string>clashofclans</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/clash-of-clans/id529479190</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple124/v4/35/49/17/3549177c-bd72-937b-1561-7d6afb833be1/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
            
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>Calm</string>
            <key>scheme</key>
            <string>calm</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/calm/id571800810</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/f8/f2/36/f8f23661-38d0-b725-d647-e2d07c84fe09/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>MyFitnessPal</string>
            <key>scheme</key>
            <string>mfp</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/myfitnesspal/id341232718</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/58/21/a4/5821a4dd-03e0-48e1-242c-99821a038f24/AppIcon-1x_U007emarketing-0-7-0-sRGB-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>Headspace</string>
            <key>scheme</key>
            <string>headspace</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/headspace-meditation-sleep/id493145008</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/bf/bc/06/bfbc0664-588c-0cbc-3c82-8bde12617a80/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>Flo My Health</string>
            <key>scheme</key>
            <string>flo</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/followmyhealth/id502147249</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/c8/67/57/c86757b2-9c5d-3ce1-c340-6f11ba78b4ca/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>Peloton</string>
            <key>scheme</key>
            <string>pelotoncycle</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/peloton-at-home-fitness/id792750948</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/8a/c2/24/8ac224ee-daae-8a16-f441-94a40b9dea59/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>Fitbit</string>
            <key>scheme</key>
            <string>fitbit</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/fitbit-health-fitness/id462638897</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/60/6a/80/606a8091-0bee-d681-741a-dc06c997e307/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>SWEAT</string>
            <key>scheme</key>
            <string>sweat</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/sweat-fitness-app-for-women/id1049234587</string>
            <key>image</key>
            <string>https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/53/70/0f/53700f7e-ee69-f0be-d166-a24a3d29d149/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-P3-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>Workouts by Muscle</string>
            <key>scheme</key>
            <string>musclebooster</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/workouts-by-muscle-booster/id1446447749</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/cf/8f/a3/cf8fa3db-6639-c353-fd7a-44f0f41ea918/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Health Fitness</string>
            <key>title</key>
            <string>Lose It</string>
            <key>scheme</key>
            <string>loseit</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/lose-it-calorie-counter/id297368629</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/e8/87/65/e8876593-e9cd-8094-2fce-7dbfb73caf69/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
            
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>ESPN</string>
            <key>scheme</key>
            <string>sportscenter</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/espn-live-sports-scores/id317469184</string>
            <key>image</key>
            <string>https://is2-ssl.mzstatic.com/image/thumb/Purple114/v4/ef/8c/77/ef8c7765-aecc-4677-1290-775cb050be9d/AppIcon-0-1x_U007emarketing-0-7-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>NBA</string>
            <key>scheme</key>
            <string>nbatv</string>
            <key>url</key>
            <string>https://apps.apple.com/bg/app/nba-live-games-scores/id484672289</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/2b/17/12/2b171296-402e-3988-5ce4-ae9ce38a8757/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>DAZN</string>
            <key>scheme</key>
            <string>com.dazn</string>
            <key>url</key>
            <string>https://apps.apple.com/ca/app/dazn-live-sports-streaming/id1129523589</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/a3/e7/ca/a3e7ca59-af9c-71a6-bb70-51cf54633a61/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.png</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>NHL</string>
            <key>scheme</key>
            <string>nhl</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/nhl/id465092669</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple124/v4/21/9e/46/219e46c2-c3a9-bc89-eead-3e586612e207/AppIcon-1x_U007emarketing-0-6-0-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>GameChanger</string>
            <key>scheme</key>
            <string>gcsports</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/gamechanger-baseball-softball/id318906314</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/b2/86/65/b28665ba-df94-bee3-1e77-88f8de81fc58/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>The Athletic</string>
            <key>scheme</key>
            <string>theathletic</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/the-athletic-sports-news/id1135216317</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/c4/bb/fe/c4bbfe4b-db69-15da-001e-5ef8e300246a/AppIcon-2-0-1x_U007emarketing-0-7-0-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>Fishbrain</string>
            <key>scheme</key>
            <string>fishbrain</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/fishbrain-fishing-app/id477967747</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/6c/3f/1e/6c3f1e5a-db96-3b43-6df6-2fa1019f7bd7/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>NFHS</string>
            <key>scheme</key>
            <string>nfhsnetworklive</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/nfhs-network/id1116186798</string>
            <key>image</key>
            <string>https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/f4/0a/0a/f40a0a3e-3dbb-d766-3cff-ec668eb5b5c2/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>UFC</string>
            <key>scheme</key>
            <string>ufcfightpass</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/ufc/id534568162</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/80/37/25/803725aa-292c-aa9a-a8d0-41a6d5e98ccb/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Sport</string>
            <key>title</key>
            <string>Big Ten Network</string>
            <key>scheme</key>
            <string>nlbtn2go</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/big-ten-network/id474679690</string>
            <key>image</key>
            <string>https://is2-ssl.mzstatic.com/image/thumb/Purple114/v4/72/f3/8b/72f38b6d-f15d-4389-fcfc-90c1af8bc710/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
            
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>Spotify</string>
            <key>scheme</key>
            <string>spotify</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/spotify-music-and-podcasts/id324684580</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/16/b0/e9/16b0e997-5b63-17af-597b-5694aa2dbace/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>SoundCloud</string>
            <key>scheme</key>
            <string>soundcloud</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/soundcloud-music-audio/id336353151</string>
            <key>image</key>
            <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/a1/eb/a6/a1eba677-7ea2-f80e-a47a-6049c022b320/AppIcon-1x_U007emarketing-0-7-0-85-220.png/1024x0w.png</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>Pandora</string>
            <key>scheme</key>
            <string>pandora</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/pandora-music-podcasts/id284035177</string>
            <key>image</key>
            <string>https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/06/71/f6/0671f63a-1b10-46b9-1cfd-4869c2754494/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>Youtube Music</string>
            <key>scheme</key>
            <string>youtubemusic</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/youtube-music/id1017492454</string>
            <key>image</key>
            <string>https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/21/ca/5d/21ca5d78-c34d-f600-045a-7b4dc80f3d91/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>Musi</string>
            <key>scheme</key>
            <string>musi</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/musi-simple-music-streaming/id591560124</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple113/v4/fe/7e/80/fe7e80c2-e8a9-5028-ead5-3892391abc28/Icon-1x_U007emarketing-0-6-0-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>Shazam</string>
            <key>scheme</key>
            <string>shazam</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/shazam-music-discovery/id284993459</string>
            <key>image</key>
            <string>https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/2f/2f/54/2f2f5442-94d0-de55-1ec5-d317c13e9ec7/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.png</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>TIDAL Music</string>
            <key>scheme</key>
            <string>tidal</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/tidal-music/id913943275</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/a8/73/83/a87383c6-8d0c-b0b3-374c-49a4c3803683/AppIcon-1x_U007emarketing-0-7-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>Amazon Music</string>
            <key>scheme</key>
            <string>amznmp3</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/amazon-music-songs-podcasts/id510855668</string>
            <key>image</key>
            <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/33/6d/67/336d677f-b151-4161-d3f9-ea42acd44594/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>iHeart</string>
            <key>scheme</key>
            <string>iheartradio</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/iheart-radio-music-podcasts/id290638154</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/e4/fc/33/e4fc3327-6d98-917d-944a-9c32971c5f20/AppIcon-0-1x_U007emarketing-0-6-0-0-85-220.png/1024x0w.webp</string>
        </dict>
        <dict>
            <key>category</key>
            <string>Music</string>
            <key>title</key>
            <string>Smule</string>
            <key>scheme</key>
            <string>smulesing</string>
            <key>url</key>
            <string>https://apps.apple.com/us/app/smule-social-karaoke-singing/id509993510</string>
            <key>image</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/53/4e/7c/534e7c30-03bb-5726-1382-f27e07821558/AppIcon-CCCP-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
        </dict>
    </array>
</plist>
